.game-run {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game-run-title {
    background-color: rgb(230, 230, 230);
    font-size: 20px;
    padding: 8px;
    border-radius: 16px;
}

.game-area {
    display: flex;
    align-items: center;
    gap: 32px;
    
}

.game-player {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.gameboard {
    display: grid;
    grid-template-columns: repeat(10, 32px);
    grid-template-columns: repeat(10, 32px);
    gap: 4px;
}

.cell {
    border: 0.3px solid black;
    height: 32px;
    width: 32px;
}

.player-1 .cell.has-ship {
    background-color: lightblue;
}

.player-1 .cell.hit {
    background-color: grey;
}

.player-1 .cell.has-ship.hit {
    background-color: lightcoral;
}

.player-2 .cell.hit {
    background-color: grey;
}

.player-2 .cell.has-ship.hit {
    background-color: lightcoral;
}

.game-place {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    gap: 16px;
}

.game-place ul {
    margin-bottom: 0px;
}

.ships {
    position: absolute;
    top: -100000px;
}

.carrier-vertical {
    display: grid;
    grid-template-columns: 32px;
    grid-template-rows: repeat(4, 32px);
    gap: 4px;
}

.carrier-horizontal {
    display: grid;
    grid-template-columns: repeat(4, 32px);
    grid-template-rows: 32px;
    gap: 4px;
}

.destroyer-vertical {
    display: grid;
    grid-template-columns: 32px;
    grid-template-rows: repeat(3, 32px);
    gap: 4px;
}

.destroyer-horizontal {
    display: grid;
    grid-template-columns: repeat(3, 32px);
    grid-template-rows: 32px;
    gap: 4px;
}

.cruiser-vertical {
    display: grid;
    grid-template-columns: 32px;
    grid-template-rows: repeat(2, 32px);
    gap: 4px;
}

.cruiser-horizontal {
    display: grid;
    grid-template-columns: repeat(2, 32px);
    grid-template-rows: 32px;
    gap: 4px;
}

.skipper {
    display: grid;
    grid-template-columns: 32px;
    grid-template-rows: 32px;
}

.cell2 {
    height: 32px;
    width: 32px;
    background-color: lightblue;
}

.cell3 {
    border: 0.3px solid black;
    height: 32px;
    width: 32px;
}

.cell3.has-ship {
    background-color: lightblue;
}

.cell3.can-place {
    background-color: green;
}

